<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
    <div class="container">
      <a class="navbar-brand" href="/">Africans Potentials</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'discover:index' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          {% if user.userType == 'Donor / organization' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:duser' %}">Dashboard</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:profile' %}">Profile</a>
          </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
              </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:signup' %}">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:signup' %}">Help others</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>