{% extends "home/base.html" %} {% block content %}
{% include 'home/navbar.html' %}

<div class="container mt-5 p-5">
    <div class="row">
        <div class="col-12" data-aos="zoom-out" data-aos-delay="300">
            <div class="text-center">
                <h3>Discover Africans Potentials</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% for post in grievances %}
        {% if post.body %}
        <div class="row mt-2 mb-3 pl-5 shadow-sm">
            {% if post.thumbnail %}
            <div class="col-md-2 text-center" data-aos="zoom-in" data-aos-delay="400">
                <a href="{% url 'discover:detail' post.id %}" class="btn "><img src="{{post.thumbnail.url}}" class="img-fluid rounded-circle shadow" style="height: 100px; width: 100px; "></a>  
            </div>
            {% endif %}
            <div class="col-md-8" data-aos="zoom-in" data-aos-delay="300">
                <a href="{% url 'discover:detail' post.id %}" class="btn"><h4>{{post.title}}</h4></a>
                <div class="meta d-flex align-items-center">
                    <small>{{post.date}}</small>
                </div>
                <p>{{post.body|safe|truncatewords:20}}</p>
            </div>                               
        </div>
        {% endif %}
    {% endfor %}
</div>

{% include 'home/footer.html' %}

{% endblock content %}