{% extends "home/base.html" %} {% block content %}
<section class="container mb-5">
 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Africans Potentials</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
          </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
              </li>    
        </ul>
      </div>
    </div>
</nav>   
</section>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="text-center" data-aos="zoom-in" data-aos-delay="300">
                <img src="{{ user.profile_picture.url }}" alt="Profile" class="card-img img-fluid">
                <div data-aos="zoom-in" data-aos-delay="500">
                    <p>Full Name  - <strong>{{user.first_name}} {{user.last_name}}</strong> </p>  
                  <p>Email - <strong>{{user.email}}</strong></p>
                  <p>Gender - <strong>{{user.gender }}</strong>  </p>
                  <p>User-Type  - <strong>{{user.userType}}</strong></p>
                </div>
                 
            </div>
        </div>
        <div class="col-9 mt-5">
            <h1 class="text-center" data-aos="fade-out">Help Form</h1>
            <div class=" text-center ">
                <div class="form-inner">
                    <small class="text-danger ">
                        {{ form.non_field_errors }}
                    </small>
                    {{ form.media }}
                    <form method="POST" action="{% url 'profiles:guser' %}" enctype="multipart/form-data" class="text-left" data-aos="fade-in" data-aos-delay="400" >{% csrf_token %}
                      {{form.as_p}}
                        <!-- User Type -->
                        <div class="form-group text-center" data-aos="fade out">
                            <input id="register" type="submit" value="Save" class="btn btn-dark" >
                        </div>
                    </form>
                </div>    
            </div>
        </div>       
    </div>
</div>


{% include 'home/footer.html' %}

{% endblock content %}